@import "../../../assets/styles/variables.scss";

.card {
  width: 320px;
  margin: auto;
  margin-top: 20px;
  background-color: $gray;
}

.header-image {
  background-size: cover;
}

.mat-card-header {
  background-color: $white;
  padding-top: 10px;
  border-radius: 10px;
}

.mat-card-title {
  color: $black;
}

.mat-card-subtitle {
  color: $black;
}

.mat-chip {
  text-transform: uppercase;
}

.mat-button {
  text-transform: uppercase;
}

mat-form-field {
  width: 100%;
}

mat-label.upcase {
  text-transform: uppercase;
}