<mat-card class="card">
    <mat-card-title-group>
      <mat-card-title>User Profile</mat-card-title>
      <mat-card-subtitle>Developer's contact details</mat-card-subtitle>
    </mat-card-title-group>

    <mat-card-content>

      <mat-form-field appearance="fill">
        <mat-label>Name:</mat-label>
        <input matInput value="Erick David Levy Ochoa" readonly>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>eMail:</mat-label>
        <input matInput type="email" value="ericklevy@gmail.com" readonly>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Mobile / SMS / WhatsApp:</mat-label>
        <input matInput type="tel" value="+52 (312) 267 0132" readonly>
      </mat-form-field>

    </mat-card-content>

    <mat-card-actions>
      <button mat-button [routerLink]="['home']">Return</button>
    </mat-card-actions>
  </mat-card>
