<mat-card class="card">
  <mat-card-title-group>
    <mat-card-title>{{ pokemon.name }}</mat-card-title>
    <mat-card-subtitle>ID #{{ pokemon.id }}</mat-card-subtitle>
  </mat-card-title-group>

  <mat-card-content>
    <img mat-card-image src="{{ image }}" alt="pokemon sprite" />
  </mat-card-content>

  <mat-card-content>
    <mat-label>Types:</mat-label>
    <mat-chip-list class="align-content-center">
      <mat-chip class="upcase" color="primary" *ngFor="let type of pokemon.types">{{
        type.type.name
      }}</mat-chip>
    </mat-chip-list>
  </mat-card-content>
  <mat-card-content>
    <mat-label>Stats:</mat-label>
  </mat-card-content>
  <mat-card-content *ngFor="let stat of pokemon.stats">
    <mat-label class="upcase">{{ stat.stat.name }}</mat-label>
    <mat-progress-bar
      color="accent"
      mode="determinate"
      value="{{ stat.base_stat }}"
    ></mat-progress-bar>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button [routerLink]="['home']">Return</button>
  </mat-card-actions>
</mat-card>
